<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="vendor/MDBootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/MDBootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="vendor/components-font-awesome/css/fa-regular.min.css">
    <link rel="stylesheet" href="vendor/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="stylesheets/master.css">
</head>
<body>

<header><h1><img src="/assets/images/header_logo.jpg" alt=""> Project Journal</h1></header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 categories">
                {% for category in categories %}
                    <button class="btn btn-outline-info category-btn">{{ category }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container projects">
        <div class="row project new odd">
            <div class="col-sm-12 col-md-6 image-col"><img src="/assets/images/new_project.jpg" class="img-fluid img-thumbnail z-depth-2" alt="zoom"></div>
            <div class="col-sm-12 col-md-6 title-col">
                <h3 contenteditable="true" id="new_project_title">New Project</h3>
                <div class="fake_dropdown" id="category_select">
                    <h4 id="selected_category" class="selected" data-selected="test">Category</h4>
                    <div class="options">
                        {% for category in categories %}
                            <h4 class="option">{{ category }}</h4>
                        {% endfor %}
                    </div>
                </div>
                <p contenteditable="true" id="new_project_description">Project description goes here..</p>
                <button class="btn btn-primary save-btn" id="save_new_project_btn"><i class="far fa-save"></i> Save</button>
            </div>
        </div>

        {% for project in projects %}
            <div class="row project {{ project.category|lower|replace({' ':'_'}) }} {% if loop.index0 is odd %}odd{% else %}even{% endif %}" data-id="{{ project.id }}">
                {% if loop.index0 is odd %}
                    <div class="col-sm-12 col-md-6 image-col"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(131).jpg" class="img-fluid img-thumbnail z-depth-3" alt="zoom"></div>
                    <div class="col-sm-12 col-md-6 title-col">
                        <h3>{{ project.title }}</h3>
                        <div class="fake_dropdown project_category locked">
                            <h4 class="selected" data-selected="test">{{ project.category }}</h4>
                            <div class="options">
                                {% for category in categories %}
                                    <h4 class="option">{{ category }}</h4>
                                {% endfor %}
                            </div>
                        </div>
                        <h5>{{ project.time }} {% if project.completed == 1 %}<i class="far fa-check-circle"></i>{% endif %}</h5>
                        <p>{{ project.description }}</p>
                        <button class="btn btn-success start-btn">Start <i class="far fa-play-circle"></i></button>
                        <button class="btn btn-secondary stop-btn" style="display:none;">Stop <i class="far fa-pause-circle"></i></button>
                        <button class="btn btn-default edit-btn">Edit <i class="far fa-edit"></i></button>
                        <button class="btn btn-primary edit-save-btn" style="display:none;">Save <i class="far fa-save"></i></button>
                        <button class="btn btn-danger delete-btn">Delete <i class="far fa-trash-alt"></i></button>
                    </div>
                {% else %}
                    <div class="col-sm-12 col-md-6 title-col">
                        <h3>{{ project.title }}</h3>
                        <div class="fake_dropdown project_category locked">
                            <h4 class="selected" data-selected="test">{{ project.category }}</h4>
                            <div class="options">
                                {% for category in categories %}
                                    <h4 class="option">{{ category }}</h4>
                                {% endfor %}
                            </div>
                        </div>
                        <h5>{{ project.time }} {% if project.completed == 1 %}<i class="far fa-check-circle"></i>{% endif %}</h5>
                        <p>{{ project.description }}</p>
                        <button class="btn btn-success start-btn">Start <i class="far fa-play-circle"></i></button>
                        <button class="btn btn-secondary stop-btn" style="display:none;">Stop <i class="far fa-pause-circle"></i></button>
                        <button class="btn btn-default edit-btn">Edit <i class="far fa-edit"></i></button>
                        <button class="btn btn-primary edit-save-btn" style="display:none;">Save <i class="far fa-save"></i></button>
                        <button class="btn btn-danger delete-btn">Delete <i class="far fa-trash-alt"></i></button>
                    </div>
                    <div class="col-sm-12 col-md-6 image-col"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(131).jpg" class="img-fluid img-thumbnail z-depth-3" alt="zoom"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="overlay" class="overlay_cover">
        <div id="delete_warning_box" class="overlay_box delete">
            <h2>Warning!</h2>
            <h4>Are you sure you want to delete?</h4>
            <h3>Project Tilte</h3>
            <div class="buttons">
                <button class="btn btn-danger" id="delete_confirm_btn">Delete</button>
                <button class="btn btn-default" id="delete_cancel_btn">Cancel</button>
            </div>

        </div>
    </div>
    <div class="todo">
        <h2>TODO LIST:</h2>
        {#[<span class="status not_started">Not Started</span>]#}
        {#[<span class="status in_progress">In Progress</span>]#}
        {#[<span class="status completed">Completed</span>]#}
        <ol>
            <li>
                Create system to add projects [<span class="status completed">Completed</span>]
                <ul>
                    <li>Create front end for projects [<span class="status completed">Completed</span>]</li>
                    <li>Create new project UI [<span class="status completed">Completed</span>]</li>
                    <li>Create image for new project (?) [<span class="status completed">Completed</span>]</li>
                    <li>Create custom dropdown for category [<span class="status completed">Completed</span>]</li>
                    <li>Create JS Class for project saving [<span class="status completed">Completed</span>]</li>
                    <li>Create Validation method in class [<span class="status completed">Completed</span>]</li>
                    <li>Create save method (post) in class [<span class="status completed">Completed</span>]</li>
                    <li>Create validation method in php [<span class="status completed">Completed</span>]</li>
                    <li>Create save to DB method in php [<span class="status completed">Completed</span>]</li>
                    <li>Create reset method in class to reset new project form [<span class="status completed">Completed</span>]</li>
                </ul>
            </li>
            <li>
                Create category system to group each project (filter, compare projects in same category) [<span class="status completed">Completed</span>]
                <ul>
                    <li>Create category array in index.php, send it to page via twig var [<span class="status completed">Completed</span>]</li>
                    <li>Add tags to top of project list using category array twig var [<span class="status completed">Completed</span>]</li>
                    <li>update new project category list using category array twig var [<span class="status completed">Completed</span>]</li>
                    <li>create js class to filter projects when category tag is selected [<span class="status completed">Completed</span>]</li>
                    <li>reorder odd and even rows when categories are filtered ( switch position of img) [<span class="status completed">Completed</span>]</li>
                </ul>
            </li>
            <li>Create system to edit a project's details [<span class="status completed">Completed</span>]</li>
            <li>Create system to delete a project with failsafe function [<span class="status completed">Completed</span>]</li>
            <li>
                Create system to add track time worked on project, start stop button with timer? [<span class="status not_started">Not Started</span>]
                <ul>
                    <li>Create Odometer effect for seconds increase [<span class="status not_started">Not Started</span>]</li>
                </ul>
            </li>
            <li>Create TODO system for each project [<span class="status not_started">Not Started</span>]</li>
            <li>Create system to track project updates (Journal Entries) [<span class="status not_started">Not Started</span>]</li>
            <li>Create create timeline system/graph to show hours worked over a period of time [<span class="status not_started">Not Started</span>]</li>
            <li>Create graph to show all projects time worked over a period of time [<span class="status not_started">Not Started</span>]</li>
        </ol>
    </div>
</main>

<footer>
    Created in 2018 with Typescript, jQuery, MDBootstrap, Twig & lots of <3
</footer>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/MDBootstrap/js/popper.min.js"></script>
<script src="vendor/MDBootstrap/js/bootstrap.min.js"></script>
<script src="vendor/MDBootstrap/js/mdb.min.js"></script>
<script src="javascript/master.js"></script>
</body>
</html>